<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>
    
    <title>UrlShortner</title>
</head>
<body >
    <div class="container my-5">
      
    <h1>URL Shrinker</h1>
    <form  action="/shortUrls" method="POST" class="my-4 form-inline">

        <label for="fullUrl" class="sr-only"> Url</label>
        <input id="fullUrl" name="fullUrl" type="url" placeholder="URL" class="form-control col mr-2">
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Full URL</th>
                <th>Short URL</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% shortUrls.forEach(shortUrl=>{ %>
                <tr>
                    <td><a href="<%= shortUrl.full %> "><%= shortUrl.full %></a></td>
                    <td>sh2021.herokuapp.com\<%= shortUrl.short %></td>
                    <td><%= shortUrl.clicks %></td>
                </tr>
           <% }) %> 
           
        </tbody>
    </table>
</div>
</body>
</html>
